<form class="form-horizontal" (ngSubmit)="createFeed()" autocomplete="off">
    <div class="form-group">
        <input [(ngModel)]="newFeed.msg" class="form-control" type="text" name="msg" id="msg" placeholder="Post new message" autofocus/>
    </div>
</form>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let feed of feeds">

        <h6 class="list-group-item-heading">
            {{feed._creator.username | capitalize}} wrote:
        </h6>
        <div class="list-group-item-text" [innerHTML]="feed.msg">
        </div>
        <div class="list-group-item-text">
            <small class="text-muted">Created: {{feed.createdAt | amTimeAgo}}</small>
        </div>
        <form class="form-horizontal" style="margin-top:5px" (ngSubmit)="createComment(feed._id)" autocomplete="off">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let comment of feed.comments">
                    <h6 class="list-group-item-heading"> {{comment._creator.username | capitalize}}:</h6>
                    <p class="list-group-item-text" [innerHTML]="comment.msg"></p>
                </li>
                <li class="list-group-item">
                    <h6 class="list-group-item-heading"> {{currentUser().username | capitalize}}:</h6>
                    <input [(ngModel)]="newFeedComments[feed._id].msg" class="form-control list-group-item-text" type="text" name="msg" id="msg" placeHolder="Post a comment"/>
                </li>
            </ul>
        </form>
    </li>
</ul>