@import "lib/bootstrap/bootstrap";

html {
  font-size: 12px;
}

@include media-breakpoint-up(xs) {
  html {
    font-size: 13px;
  }

  .form-control {
    @extend .btn.btn-lg;
    font-size: 16px;
  }

  .container-fluid {
      padding:3px;
      margin:3px;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 13px;
  }

  .form-control {
    @extend .btn.btn-lg;
    font-size: 16px;
  }


  .container-fluid {
      padding:5px;
      margin:5px;
  }


}

@include media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }

  .form-control {
    font-size: 14px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 14px;
  }

  .form-control {
    font-size: 14px;
  }

  
}


