<div class="container">
    <h3> Log in </h3>
    <form class="form-horizontal" (ngSubmit)="logIn()">
        <div class="form-group">
			<label class="col-sm-3 control-label" for="email">Email</label>
            <div class="col-sm-7">
            	<input [(ngModel)]="user.email" class="form-control" type="email" name="email" id="email" placeholder="Email" autofocus required/>
            </div>
        </div>
        <div class="form-group">
        	<label class="col-sm-3 control-label" for="password">Password</label>
            <div class="col-sm-7">
            	<input [(ngModel)]="user.password" class="form-control" type="password" name="password" id="password" placeholder="Password" required/>
            </div>
        </div>
         <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
            	<button class="btn btn-info">Sign In</button>
            	<a class="btn btn-link">Forgot your password?</a>
            </div>
        </div>
    </form>