<nav class="navbar navbar-light bg-faded">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <a class="navbar-brand" routerLink="/welcome">eTeamManager</a>
    <ul class="nav navbar-nav">
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a> <!-- active class a the wrong level -->
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/team" routerLinkActive="active">Teams</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link">Stats</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item dropdown float-lg-right">
        <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" id="responsiveNavbarDropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">{{currentUser().username | capitalize}}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="responsiveNavbarDropdown">
          <a class="dropdown-item" routerLink="/profile" routerLinkActive="active">Profile</a>
          <a class="dropdown-item">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Log Out</a>
        </div>
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item float-lg-right">	
        <button class="btn btn-success" routerLink="/user/signup">Sign Up</button> 
        <button class="btn btn-info" routerLink="/user/login">Log In</button>
      </li>
    </ul>
  </div>
</nav>



