<div *ngIf="team.name">
    <h5> {{team.name}} Details </h5>
    <ul>
        <li>{{team.name}}</li>
        <li>{{team.sport}}</li>
        <li>{{team.url}}</li>
    </ul>
    <table class="table">
        <thead>
            <th> Name </th>
            <th> Role </th>
            <th> Member Since</th>
            <th> Administrator</th>
        </thead>
        <tbody>
            <tr *ngFor='let member of members'>
                <th> {{ member._user.username | capitalize}} </th>
                <td> {{ member.role}} </td>
                <td> {{ member.createdAt | amTimeAgo }}</td>
                <td> {{ member.admin }}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-info" (click)="subscribe()"> Subscribe </button>
</div>

